.myPurppleButton {
    box-shadow: 0px 1px 0px 0px #b0b9ff;
    background:linear-gradient(to bottom, #cfcfe6 5%, #7e9de0 100%);
    background-color:#cfcfe6;
    border-radius:6px;
    border:1px solid #b3bddb;
    display:inline-block;
    cursor:pointer;
    color:#080808;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    padding:6px 45px;
    text-decoration:none;
    text-shadow:0px 1px 0px #6680ff;
}
.myPurppleButton:hover {
    background:linear-gradient(to bottom, #7e9de0 5%, #cfcfe6 100%);
    background-color:#7e9de0;
}
.myPurppleButton:active {
    position:relative;
    top:1px;
}

.pad{
    margin-left: 100px;
}