table.paleBlueRows {
    font-family: "Times New Roman", Times, serif;
    border: 1px solid #FFFFFF;
    width: 440px;
    height: 200px;
    text-align: center;
    border-collapse: collapse;
}
table.paleBlueRows td, table.paleBlueRows th {
    border: 1px solid #FFFFFF;
    padding: 4px 3px;
}
table.paleBlueRows tbody td {
    font-size: 13px;
    color: #737373;
}
table.paleBlueRows tr:nth-child(even) {
    background: #EBEBEB;
}
table.paleBlueRows thead {
    background: #858795;
    border-bottom: 5px solid #FFFFFF;
}
table.paleBlueRows thead th {
    font-size: 19px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #FFFFFF;
}
table.paleBlueRows thead th:first-child {
    border-left: none;
}

table.paleBlueRows tfoot td {
    font-size: 12px;
}

.myButton {
    box-shadow: 0px 1px 0px 0px #c2b86d;
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color:#ffec64;
    border-radius:6px;
    border:1px solid #ffaa22;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
}
.myButton:hover {
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color:#ffab23;
}
.myButton:active {
    position:relative;
    top:1px;
}

.myButtonRed {
    box-shadow: 0px 1px 0px 0px #f0051c;
    background:linear-gradient(to bottom, #f56a7c 5%, #bd2626 100%);
    background-color:#f56a7c;
    border-radius:6px;
    border:1px solid #fa0d0d;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #de0b0b;
}
.myButtonRed:hover {
    background:linear-gradient(to bottom, #bd2626 5%, #f56a7c 100%);
    background-color:#bd2626;
}
.myButtonRed:active {
    position:relative;
    top:1px;
}

.myGreenButton {
    box-shadow:inset 0px 1px 0px 0px #caefab;
    background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
    background-color:#77d42a;
    border-radius:6px;
    border:1px solid #268a16;
    display:inline-block;
    cursor:pointer;
    color:#182e06;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 56px;
    text-decoration:none;
    text-shadow:0px 1px 0px #aade7c;
    margin-bottom: 20px;
}
.myGreenButton:hover {
    background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
    background-color:#5cb811;
}
.myGreenButton:active {
    position:center;
    top:1px;
}

.flex-container {
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
}

.one {
    flex: 1 1 auto;
}

.two {
    flex: 1 1 auto;
}
